* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --hue-neutral: #197bb8;
    --hue-wrong: #b81b10;
    --hue-correct: #18c066;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--hue-neutral);
}

body.correct {
    background-color: var(--hue-correct);
}
body.wrong {
    background-color: var(--hue-wrong);
}
